body
{
    margin: 0;
    padding: 0;
    background:  #8C8C8C;
    font-family: century gothic;
}
.container
{
    width: 1280px;
    margin: 70px auto 0;
    display: -webkit-flex;
    display:-moz-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container .box
{
    width: 300px;
    height: 300px;
    background: #005100;
    position: relative;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}
.container .box .imgbox
{
    position: relative;
}
.container .box .imgbox img
{
    margin-top: 20px;
    margin-left: 30%;
    max-width: 100%;
    transition: transform 2s;
}
.container .box:hover .imgbox img
{
    transform: scale(1.2);
}

.container .box .details .content h2
{
    font-size:20px;
    color:#fff;
    text-align: center;
}


.container .box .details .content input[type="submit"]
{
    background: transparent;
    border:none;
    outline: none;
    color:white;
    background: rgba(107, 171, 255, 0.8);
    cursor: pointer;
    padding:10px 20px;
    border-radius: 5px;
}
.container .box .details .content input[type="submit"]:hover
{
    background: yellow;
    color: black;
}

